@import url("https://fonts.googleapis.com/css?family=Patua+One&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  color: #ff6868;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-family: "Patua One", sans-serif;
  font-size: 44px;
  margin-top: 20px;
  padding: 10px;
}

.counter {
  background: #8100e1;
  color: #fff;
  width: 50vw;
  padding: 10px;
  margin: 15px auto;
  border-radius: 10px;
  text-align: center;
}

.card-container {
  background-color: #e67f29;
  background-image: -webkit-linear-gradient(45deg, #e67f29 0%, #ff6868 90%);
  background-image: linear-gradient(45deg, #e67f29 0%, #ff6868 90%);
  padding: 15px;
  border-radius: 10px;

  color: white;

  width: 80vw;
  margin: 0 auto;
}

.ansArea {
  background-color: #026cdf;
  background-image: -webkit-linear-gradient(
    343deg,
    #026cdf 27.4%,
    #3de2e2 92.7%
  );
  background-image: linear-gradient(107deg, #026cdf 27.4%, #3de2e2 92.7%);
  margin: 20px auto;
  padding: 10px;

  width: 80vw;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border-radius: 10px;
}
.tag {
  background: rgba(256, 256, 256, 0.2);
  padding: 5px;

  font-size: 10px;
}

.btn {
  padding: 8px 4px;
  background: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 4px 0 #bebebe;
}

.btn:active {
  box-shadow: none;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

/*== Media Querys ==*/

/*Tablet Devices, m*/
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .counter {
    position: absolute;
    top: 10px;
    right: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 200px;
  }

  .ansArea {
    width: 40vw;
  }
  .tag {
    font-size: 16px;
  }
}

/*Desktop Devices, l*/
@media only screen and (min-width: 993px) {
  .counter {
    position: absolute;
    top: 10px;
    right: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .card-container {
    width: 40vw;
  }
  .ansArea {
    width: 20vw;
  }

  .title {
    font-size: 64px;
  }
  .tag {
    font-size: 16px;
  }
}

/*Desktop Devices, xl*/
@media only screen and (min-width: 1200px) {
  .ansArea {
    width: 20vw;
  }

  .tag {
    font-size: 16px;
  }
}
